<div class="row">
    <div class="col-auto">
        <form method="get" action="" id="gameForm">
            <select class="form-select" name="game" id="games" onchange="document.getElementById('gameForm').submit()">
                <option value="0" {if $selected_game == 0}selected{/if}>{$LANG.all_games}</option>
                {foreach $games as $game_id => $game_name}
                    <option value="{$game_id}" {if $selected_game == $game_id}selected{/if}>{$game_name}</option>
                {/foreach}
            </select>
        </form>
    </div>
</div>

{if $selected_game != 0 && isset($products[$selected_game]) && $products[$selected_game]|@count > 0}
    <div class="table">
        <table id="product_table" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>{$LANG.prd_name}</th>
                    <th>{$LANG.stock}</th>
                    <th>{$LANG.price}</th>
                    <th>{$LANG.quantity}</th>
                </tr>
            </thead>
            <tbody>
                {foreach $products[$selected_game] as $product}
                    <tr>
                        <td>{$product.name}</td>
                        <td>{$product.stock}</td>
                        <td>{$product.price}</td>
                        <td>
                            <input name="quantity_{$product.id}" type="number" class="form-control" value="1" min="{$product.min_order}" max="{$product.max_order}" id="quantity_{$product.id}">
                        </td>
                    </tr>
                {/foreach}
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" onclick="addProducts()">{$LANG.buy}</button>
    </div>
{else}
    <div class="alert alert-info">{$LANG.no_products_available}</div>
{/if}

<!-- Modal -->
<div class="modal" tabindex="-1" id="productModal">
    <div class="modal-dialog">
        <div class="modal-content flex">
            <div class="modal-header">
                <h5 class="modal-title">Selected Products</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="productModalBody">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>

                </thead>
                <tbody>
                    <tbody id="selectedProductsTableBody">
                    </tbody>
                  
                </table>
                
                <span class="d-flex justify-content-end" id="totalPrice"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Buy</button>
        </div>
    </div>
</div>

<script>
   function addProducts() {
    var productInputs = document.querySelectorAll('input[type="number"]');
    var modalBody = document.getElementById('selectedProductsTableBody');
    var totalPrice = document.getElementById('totalPrice');
    modalBody.innerHTML = '';
    var totalAmount = 0;
    var selectedProducts = [];

    productInputs.forEach(function(input) {
        var quantity = parseFloat(input.value); // Input değerini al
        var price = parseFloat(input.closest('tr').querySelector('td:nth-child(3)').textContent);
        if (quantity > 0) {
            var productTotal = quantity * price;
            totalAmount += productTotal;
            selectedProducts.push({
                name: input.closest('tr').querySelector('td:first-child').textContent,
                quantity: quantity,
                price: price,
                total: productTotal
            });
        }
    });

    selectedProducts.forEach(function(product) {
            modalBody.innerHTML += '<tr><td>' + product.name + '</td><td>' + product.quantity + '</td><td>' + product.price + '</td><td>' + product.total + '</td></tr>';
        });
        totalPrice.innerHTML = 'Total: ' +'<b>' +totalAmount+'</b>';

    // Modalı göster
    var productModal = new bootstrap.Modal(document.getElementById('productModal'));
    productModal.show();
}

</script>
